
PyYAML==3.13
#PyYAML==4.2b4
six==1.11.0
networkx==2.2
svgwrite==1.1.12
pillow
duckietown-serialization-ds1>=1,<2

PyGeometry==1.5.6

beautifulsoup4>=4.6.3
lxml
future
scipy
oyaml
plotly
markdown
PyContracts==1.8.7

# testing
comptests==1.4.27
coverage
coveralls


jupyter
nbconvert
