
# PyYAML==3.12
PyYAML==4.2b4
six==1.11.0
networkx==2.2
svgwrite==1.1.12

duckietown-serialization-ds1>=1,<2
comptests==1.4.26
PyGeometry==1.5.3

-e git://github.com/duckietown/gym-duckietown.git@duckietown-world#egg=gym-duckietown

beautifulsoup4>=4.6.3
#lxml
