
PyYAML

six==1.11.0
networkx<3
svgwrite==1.1.12
pillow
duckietown-serialization-ds1<2

PyGeometry==1.5.6

beautifulsoup4>=4.6.3
lxml
future
scipy
oyaml
plotly
markdown
PyContracts>=1.8.12

# testing
comptests==1.4.34
coverage
coveralls


jupyter
nbconvert
dataclasses==0.6; python_version < '3.7'
zuper-typing-z6
codecov
pipdeptree
